td:first-of-type{
    font-weight: 800;
}

#בשרי {
    color: red;
}

#חלבי {
    color: blue;
}

.text-red {
    color: red;
}

.table-container {
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.thead th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
}

.table-row {
    cursor: pointer;
}

.text-red {
    color: red;
}

@media (max-width: 768px) {
    .table-container {
        padding: 0 10px;
    }
}