* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.layout-container {
    display: flex;
    display: flex;
    direction: rtl;
    height: 100vh;
  }
  
  .outlet-container {
    flex-grow: 1; /* Allow the outlet container to grow and take up the remaining space */
    position: fixed;
    top: 0;
    right: 12.1vw; 
    left: 0;
    bottom: 0;
    overflow: auto; /* Allow for scrolling if the content overflows */
  }