.AddCategory-Box-Content {
    background-color: #fefefe;
    z-index: 3;
    border: 1px solid black;
    border-radius: 25px;
    min-height: fit-content;
    min-width: 27%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    overflow-y: auto; 
    padding: 20px; 
}

.AddCategory-Title{
    text-align: center;
    font-size: 22px;
    padding: 5px;
}

.AddCategory-InputBox{
    display: grid;
}

.AddCategory-Label{
    text-align: center;
    padding: 5px;
}

.AddCategory-Buttons{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.AddCategory-Button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}