.UpdateEvent-box {
    position: fixed;
    /* z-index: 1; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: right;
}

.UpdateEvent-Box-Content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 30%;
}

.UpdateEvent-Title{
    text-align: center;
    font-size: 22px;
    padding: 5px;
}

.UpdateEvent-InputBox{
    /* display: grid; */
}

.UpdateEventPage-Input {
    direction: rtl;
}

.UpdateEvent-Label{
    text-align: center;
    padding: 5px;
}

.UpdateEvent-Checkbox{
    text-align: center;
    padding: 5px;
}

.UpdateEventPage-Input {
    direction: rtl;
    margin-right: 3vw;
    width: 10vw;
}

.AddEventMenu-Labels {
    display: flex;
    justify-content: space-around
}

.UpdateEvent-Buttons{
    display: flex;
    justify-content: space-between;
    /* padding: 15px 0px; */
}

.UpdateEvent-Button{
    margin: 5px;
    width: max-content;
}