.SuppliersPage-Buttons{
    display: flex;
    place-content: space-between;
}

.SuppliersPage-Button{
    background: grey;
    border: none;
    cursor: pointer;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.SuppliersPage-Button:hover{
    background: lightgrey;
}

.Suppliers-TitlePage{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}