.StockPage-Buttons{
    display: flex;
    place-content: space-between;
}

.StockPage-Button{
    background: grey;
    border: none;
    cursor: pointer;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.StockPage-Button:hover{
    background: lightgrey;
}

.Stock-TitlePage{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}