.Stock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    direction: ltr;

}

.Stock-Page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.StockPage-Buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: grey;
}

.StockPage-Button{
    flex: 1;
    max-width: 200px; 
    background: grey;
    border: none;
    cursor: pointer;
    color: white;
}

.StockPage-Button:hover{
    background: lightgrey;
}

.StockPage-AddProduct-Button{
    width: 22vw;
    background: rgb(43, 43, 44);
    border: none;
    cursor: pointer;
    color: white;
}

.StockPage-AddProduct-Button:hover{
    background: lightgrey;
}

.StockPage-SearchBox{
    text-align: center;
}

.StockPage-SearchBox-Input{
    width: 20vw;
    margin: 20px;
    padding: 1px;
    direction: rtl;
}

.Stock-TitlePage{
    text-align: center;
    padding: 10px;
}