.UpdateProduct-Box-Content {
    background-color: #fefefe;
    z-index: 3;
    border: 1px solid black;
    border-radius: 25px;
    min-height: fit-content;
    min-width: 27%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    overflow-y: auto; 
    padding: 20px; 
}

.UpdateProduct-Title{
    text-align: center;
    font-size: 22px;
    padding: 5px;
}

.UpdateProduct-InputBox{
    display: grid;
}

.UpdateProduct-Label{
    text-align: center;
    padding: 5px;
}

.UpdateProduct-Buttons{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.UpdateProduct-Button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

/* .UpdateProduct-CancelButton {
    background-color: grey;
}

.UpdateProduct-CancelButton:hover {
    background-color: darkgrey;
}

.UpdateProduct-DeleteButton {
    background-color: red;
}

.UpdateProduct-DeleteButton:hover {
    background-color: darkred;
}

.UpdateProduct-SaveButton {
    background-color: #4CAF50;
}

.UpdateProduct-SaveButton:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .UpdateProduct-Box-Content {
        width: 95%;
        margin: 10% auto;
        padding: 15px;
    }

    .UpdateProduct-Buttons {
        flex-direction: column;
    }

    .UpdateProduct-Button {
        width: 100%;
    }
} */