td:first-of-type{
    font-weight: 800;
}

#בשרי {
    color: red;
}

#חלבי {
    color: blue;
}

.text-red {
    color: red;
}

.table-container {
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

.table {
    width: max-content;
    min-width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    table-layout: fixed;
}

.thead th {
    background-color: #f2f2f2;
    padding: 10px;
}

.table-row {
    cursor: pointer;
}

.text-red {
    color: red;
}

.even-row {
    background-color: #f0f0f0; /* Light gray for even rows */
}

.odd-row {
    background-color: #e0e0e0; /* Slightly darker gray for odd rows */
}

@media (max-width: 768px) {
    .table-container {
        padding: 0 10px;
    }
}