.Users{
    display: flex;
    flex-direction: row-reverse;
}

.UsersPage-Buttons{
    width: 90vw;
    justify-content: space-around;
    display: flex;
    background: grey;
}

.UsersPage-Button{
    width: 24vw;
    background: grey;
    border: none;
    cursor: pointer;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.UsersPage-Button:hover{
    background: lightgrey;
}

.UsersPage-AddUser-Button{
    width: 20vw;
    background: rgb(43, 43, 44);
    border: none;
    cursor: pointer;
    color: white;
}

.UsersPage-AddUser-Button:hover{
    background: lightgrey;
}

.Users-TitlePage{
    text-align: center;
    padding: 10px;
}

.UsersPage-SearchBox{
    text-align: center;
    direction: rtl;
}

.UsersPage-SearchBox-Input{
    width: 20vw;
    margin: 20px;
    padding: 1px;
}

.Users-Headers {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    font-weight: bolder;
  }

.Users-UserRow {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    margin-top: 10px;
    width: 90vw;
    border: none;
    cursor: pointer;
  }

.NoAccessUsersAlert{
    margin: 19% auto;
    padding: 20px;
    width: 60%;
    font-size: 30px;
    color: lightslategrey;
}